<div class="main-container">
  <div class="title">Terrain with Diamond-Square</div>
  <div class="grid-container">
    <div class="section">
      <div class="subsection">
        <div class="subtitle">2D</div>
        <canvas #canvas></canvas>
      </div>
      <div class="subsection">
        <span class="subtitle">3D</span>
        <app-tree-js
          [matriz]="matriz"
          [canvasRef]="myCanvas"
          [width]="canvasWidth"
          [height]="canvasHeight"
        ></app-tree-js>
      </div>
    </div>

    <div class="form-container" [formGroup]="form">
      <div class="form-group">
        <div>Valor de N para el tamaño del terreno: (2^n + 1)</div>
        <input type="number" formControlName="N" value="8" />
      </div>
      <br>
      <br>
      <button class="reset-button" (click)="createGraphics()">Reiniciar</button>
    </div>
  </div>
</div>
